<title>b.Nimble | <%=@title%></title>

<nav class="span-24 last">
  <fieldset>
    <legend>Financial & Revenue Goals</legend>
    <table>
      <tr>
      <th> </th>
	  <th>Quota/Target</th>
	  <th>Actuals</th>
	  <th>Forecast</th>
	  <th>Actual Variance($)</th>
	  <th>Actual Variance(%)</th> 
	  <th>Forecast Variance</th>
	  <th>%</th>
	  </tr>
      <tr> row 1</tr>    
	</table>
  </fieldset>
</nav>





