<title>b.Nimble | <%=@title%></title>
<h3>Molar Home</h3>
<p>"It's not the big that eat the small, it's the fast that eat the slow"</p>

<table>
  <tr>
    <th>Open Contracts</th>
	<th>New Arrivals</th>
    <th>Stuck Work</th> 
  </tr>

    <tr>
      <td>150</td>	
	  <td>Acme Corp - Mobile Upgrade - $100,000<br>Yuma AZ - CAD - $500,000</td>
	  <td>Elko NV - Data Conversion - $100,000<br>Elgin IL - CAD - $100,000</td>
    </tr>
</table>
<table>
<tr>
	<td><%= image_tag("aging.png",:size=>"200x200", :alt => "Aging Pic") %></td>
    <td><%= image_tag("revenue.png",:size=>"200x200", :alt => "Aging Pic") %></td>
	<td><h2>Closure Detail</h2><br>Customer-contract.detail-$xxxxxx.xx<br>Customer-contract.detail-$xxxxxx.xx</td>

</tr>
</table>