<% title "Edit Contract Detail" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", @contract_detail %> |
  <%= link_to "View All", customer_details_path(@contract_detail.contract.id) %>
</p>
